
.footer {
  background-color: $color-grey-medium;
  font-size: $font-medium;
  ul {
    li {
      &:not(:last-child) {
        margin-bottom: .8rem;
      }
    }
    a {
      display: inline-flex;
      @include text-link-reverse($color-white, $color-cyan);
    }
  }
}
