
#page {
  &:not(:has(.hero)) {
    .masthead {
      background-color: $color-grey-dark;
    }

    #main {
      padding-top: $mast-height;
    }

    &:has(.offer-promo:not(.offer-hidden)) {
      #main {
        padding-top: $mast-offer-height;
      }
    }
  }

  &:has(.hero) {
    &:has(.offer-promo:not(.offer-hidden)) {
      .hero .content {
        padding-top: $mast-offer-height;
      }
    }
  }
}

.masthead {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  transition: transform $animation, background-color $animation;

  &.up {
    transform: translateY(-100%);

    .custom-sub {
      @include master {
        display: none;
      }
    }
  }

  &.active {
    background-color: $color-grey-dark;
  }

  .inner {
    @include media-breakpoint-up(xl) {
      padding-left: 3.5rem;
      padding-right: 3.5rem;
    }
  }

  .sizer {
    display: flex;
    align-items: center;
    min-height: $mast-height;
  }

  [class*="current-menu"] {
    > a {
      @include master {
        @include media-breakpoint-up(xl) {
          border-color: $color-mint;
          background-color: $color-mint;
          color: $color-grey-dark;
        }
      }
    }
  }
}
