@layer components {
    .header-nav {
        ul {
            @apply flex items-center gap-5;

            a {
                @apply relative flex px-4 py-2 text-lg font-medium hover:after:opacity-100;

                &:after {
                    @apply opacity-0 content-[''] absolute left-0 right-0 top-full h-0.5 bg-champagne-gold transition-opacity;
                }
            }

            .current_page_item {
                a {
                    &:after {
                        @apply opacity-100 bg-jewel-green;
                    }
                }
            }

            ul {
                @apply hidden;
            }
        }
    }

    .mobile-menu {
        [class^="button"] {
            @apply flex;
        }

        ul {
            li {
                &:not(:last-child) {
                    @apply border-b border-b-slate-grey;
                }
            }

            a {
                @apply flex py-3;
            }
        }
    }

    .menu-toggle {
        @apply flex items-center justify-center w-11 aspect-square;
        @apply transition-colors;

        &:after {
            @apply content-[''] bg-ivory-white flex-1 self-stretch;
            mask: url('../images/menu.svg') center / 80% no-repeat;
        }

        &[aria-expanded="true"] {
            &:after {
                mask-image: url('../images/close.svg');
                mask-size: 60%;
            }
        }
    }

    button {
        @apply cursor-pointer;
    }

    .button {
        @apply button-common;
        @apply text-lg;
    }

    .button-small {
        @apply button-common;
    }

    .button-outline {
        @apply inline-flex items-center justify-center gap-3;
        @apply text-ivory-white hover:border-soft-gold;
        @apply rounded-full px-8 py-3 border-2 border-ivory-white;
        @apply text-lg font-bold;
        @apply transition-colors;
    }
}