@layer components {
    .header-nav {
        ul {
            @apply flex items-center gap-5;

            a {
                @apply relative flex px-4 py-2 text-lg font-medium hover:after:opacity-100;

                &:after {
                    @apply opacity-0 content-[''] absolute left-0 right-0 top-full h-0.5 bg-champagne-gold transition-opacity;
                }
            }

            .current_page_item {
                a {
                    &:after {
                        @apply opacity-100 bg-jewel-green;
                    }
                }
            }
        }
    }

    .menu ul ul {
        @apply hidden;
    }

    .footer-nav {
        li {
            &:not(:last-child) {
                @apply mb-2;
            }
        }

        a {
            @apply hover:text-champagne-gold transition-colors;
        }
    }

    .mobile-menu {
        [class^="button"] {
            @apply flex;
        }

        ul {
            li {
                &:not(:last-child) {
                    @apply border-b border-b-slate-grey;
                }
            }

            a {
                @apply flex py-3;
            }
        }
    }

    .menu-toggle {
        @apply flex items-center justify-center w-11 aspect-square;
        @apply transition-colors;

        &:after {
            @apply content-[''] bg-ivory-white flex-1 self-stretch;
            mask: url('../images/menu.svg') center / 80% no-repeat;
        }

        &[aria-expanded="true"] {
            &:after {
                mask-image: url('../images/close.svg');
                mask-size: 60%;
            }
        }
    }

    button {
        @apply cursor-pointer;
    }

    .button {
        @apply button-common;
        @apply text-lg;
    }

    .button-small {
        @apply button-common;
    }

    .button-outline {
        @apply inline-flex items-center justify-center gap-3;
        @apply text-ivory-white hover:border-soft-gold;
        @apply rounded-full px-8 py-3 border-2 border-ivory-white;
        @apply text-lg font-bold;
        @apply transition-colors;
    }

    .steps {
        counter-reset: step;

        > li {
            counter-increment: step;

            &:before {
                content: counter(step);
                @apply flex items-center justify-center relative z-1 font-merriweather mb-5 w-[calc(60/16*1rem)] aspect-square rounded-full bg-champagne-gold text-charcoal-grey text-[calc(30/16*1rem)] font-bold;
            }

            &:first-child .inner:before, &:last-child .inner:after {
                @apply xl:hidden;
            }
        }

        .inner {
            &:before, &:after {
                @apply xl:content-[''] xl:absolute xl:top-[calc(30/16*1rem)] xl:bg-champagne-gold xl:h-px;
            }

            &:before {
                @apply xl:left-[calc(-30/16*1rem)] xl:right-1/2;
            }

            &:after {
                @apply xl:right-[calc(-30/16*1rem)] xl:left-1/2;
            }
        }
    }

    .breadcrumb {
        a {
            @apply leading-[1] underline underline-offset-4 decoration-2 decoration-champagne-gold hover:decoration-jewel-green transition-colors;
        }

        > span {
            @apply flex flex-wrap items-center gap-2;

            > span {
                @apply flex items-center gap-2;

                &:not(:last-child) {
                    @apply after:content-[''] after:flex-none after:aspect-square after:w-3 after:bg-charcoal-grey after:[mask:url('../images/arrow-next.svg')_center/contain_no-repeat];
                }
            }
        }
    }
}