@theme {
    --color-soft-gold: #C8A96B;
    --color-champagne-gold: #D6C29C;
    --color-antique-gold: #B08D57;
    --color-deep-bronze-gold: #8C6A3B;
    --color-heritage-gold: #9C7332;
    --color-jewel-green: #1A8A73;
    --color-moss: #4F6F3C;
    --color-olive: #6A6E2E;
    --color-warm-cream: #F5F1E8;
    --color-ivory-white: #FCFBF8;
    --color-charcoal-grey: #2B2B2B;
    --color-slate-grey: #5A5A5A;

    --font-sans: "Inter", sans-serif;
    --font-merriweather: "Merriweather", serif;
}