@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .scrollbar-hidden {
        scrollbar-width: none;
    }

    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }

    .safe-bottom {
        padding-bottom: env(safe-area-inset-bottom);
    }
}